/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Regular'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-Italic.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraLight'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-ExtraLight.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraLight Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-ExtraLightItalic.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Light';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Light'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-Light.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Light Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-LightItalic.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muli SemiBold'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-SemiBold.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli SemiBold Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-SemiBoldItalic.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Bold'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-Bold.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Bold Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-BoldItalic.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraBold'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-ExtraBold.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli ExtraBold Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-ExtraBoldItalic.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Black';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Black'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-Black.woff2) format('woff2');
  }
  

  @font-face {
  font-family: 'Muli Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Black Italic'), url(https://github.com/Cadene/pcadene/tree/master/assets/fonts/Muli-BlackItalic.woff2) format('woff2');
  }

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Muli Regular';
  font-size: 14px
}

strong {
  font-family: 'Muli Regular',Verdana, Helvetica, sans-serif,'Lato';
  font-size: 14px;
}

heading {
  font-family: 'Muli Regular',Verdana,Helvetica, sans-serif,'Lato';
  font-size: 28px;
}

papertitle {
  font-family: 'Muli Regular',Verdana, Helvetica, sans-serif,'Lato';
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Muli Regular',Verdana, Helvetica, sans-serif,'Lato';
  font-size: 34px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}